* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: #f4eddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.LogoPrincipal {
  width: 100%;
  background: #f4eddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* CORREÇÃO: Você tinha uma regra duplicada aqui, deixei só uma */
  border-bottom-right-radius: 100px;
}

.IlustracãoPrincipal {
  width: 100%;
  background: #005cb9;
  display: flex;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 9px 14px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

button {
  background: #1d7ce9;
  padding: 12px 15px;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  margin-top: 8px;
}

.forgot,
.register a {
  font-size: 15px;
  color: #003970;
  text-decoration: none;
}

.forgot {
  align-self: center;
}

.register {
  font-size: 15px;
  margin-top: 3px;
  align-self: center;
}

.logo {
  width: 50%;
  margin-bottom: 5px;
}

.illustration {
  width: 80%;
  max-width: 650px;
}

@media (max-width: 768px) {

  .IlustracãoPrincipal {
    display: none;
  }

  .LogoPrincipal {
    border-radius: 0;
  }

  .form {
    width: 85%;
  }
}